.mains {
  display: flex;
  justify-content: space-between;
  font-family: "EB Garamond", serif;
  position: absolute;
  overflow: hidden;
  width: 100%;
  top: 0;
  height: 60px;
  margin: 0px;
  padding: 20px 0px;
  z-index: 1;

  &.positionSticky {
    background-color: black;
    transition: all 1s linear;
    &:hover {
      box-shadow: rgb(36, 35, 35) 0px 5px 15px,
        inset rgb(41, 41, 41) 0px -10px 20px;
    }
  }
  img {
    width: 100px;
    background-color: transparent;
  }
  .main-header {
    padding: 4px 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .part1 {
      display: flex;
      padding: 0px 10px;
    }
    .part2 {
      display: flex;
    
      .header-part {
        cursor: pointer;
        &:hover {
          background-color: rgb(126, 124, 124);
        }
      }
      .header-part {
        display: flex;
        flex-direction: column;
        color: white;
        padding: 5px 23px;
      }
    }
  }
}
@media screen and (max-width: 980px) {
  .main-header {
    justify-content: flex-end !important;
    .part1 {
      display: none !important;
    }
  }
}
