.event-title {
  padding: 60px 25px;
  .title {
    padding: 0px 60px;
    display: flex;
    justify-content: space-between;
    font-family: "EB Garamond", serif;
   
    .main-title {
      font-size: 30px;
      font-weight: bolder;
      color: rgb(71, 71, 71);
    }
    .button {
      display: flex;
      flex-wrap: wrap;

      button {
        margin: 12px 3px;
        font-size: 13px;

      }
    }
  }
  
   
  .custom-tab{
    
  }

  hr {
    width: 70vw;
    height: 2px;
    background-color: rgb(1, 151, 156);
  }
}

@media screen and (max-width: 640px) {
  
  .main-title{
	  padding: 50px 15px !important;
  }
}
